.widget-e40ed7{
text-align: left;
}
/*#treatment h3,#employee h3 {*/
/*    margin: 10px;*/
/*    width: 50%;*/
/*    float: left;*/
 
/*}*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 0 auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.tab {
	float: left;
	background-color: #333547;
	width: 15%;
	height: 800px;
	/*position: fixed;*/
}
.employee_pro img {
	width: 100px;
	height: 100px;
	border-radius: 100px;
}
.img-box {
	width: 100px;
	height: 100px !important;
	border-radius: 100px;
}

.dmRespDesignRow, .dmRespRow, .dmRespRow .dmRespColsWrapper {
    max-width: 100%;
    position: relative;
    margin: 0 auto;
    width: 100%;
}
/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}

/* Change background color of buttons on hover */
.tab button:hover {
	padding-left: 30px;
	transition: all 0.3s ease-in;
	background: #383b4e;
}



/* Style the tab content */
.tabcontent {
	float: left;
	width: 85%;
	border-left: none;
	background: #f8f8fa;
	/*height: 100%;*/
	/*position: absolute;*/
	right: 0;
	/*overflow-y: scroll;*/
}
#add_cat_link, .slide-toggle_treatment {
	text-decoration: none;
	color: #fff !important;
	font-weight: 500;
	font-size: 15px !important;
	padding: 6px 44px 7px 24px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	margin-right: 30px;
	font-family: oswald;
	background: #8bc34a;
}

#add_employee:hover {
	text-decoration: none;
}

#add_cat_link .fa-plus ,.slide-toggle_treatment .fa-plus {
    font-size: 13px;
}

    .error{
           display:none;
       } 
       .cat_name{
         float: left;
         margin: 0 0 0 10px;
         padding: 10px;
    text-align: center;
    border: 1px solid #ccc;    
       }
.cat_data {
      display: inline-block;
    
 
}
.actions .fa-edit, .emp_actions .fa-edit {
	color: #74ad31;
	padding-right: 4px;
}

.category_list,.treatments_list{
        display: block;
    float: left;
    width: 100%;
    margin: 20px 0 20px 0px;
}
.treatments {
   border: 1px solid #ccc;
    width: 40%;
    /* height: 30px; */
    margin: 0 7px 0 0;
    display: inline-block;
   width: auto;
    text-align: center;
}
.top-section p{
    margin: 40px 10px  0 0;
    width: 50%;
    text-align: right;
     
}
.top-section{
      
    padding: 30px;
    width: 100%;
    
   
}
.treatments h5 {
    
    margin: 0;
}
.treatments {
        margin: 8px;
    padding: 10px;
   text-align: center;
}
.treatment span {
    margin: 0px 0 0px 5px;
    border: 1px solid #ccc;
    padding: 3px;
}
.treatment {
        padding: 15px;
   
}
.actions {
    float: right;
    display: grid;
    opacity: 0;
}
.treatment .actions{
        display: inherit;
         opacity: 1;
}
.cat_data:hover .actions,.treatment:hover .actions {
    opacity: 1;
}
#1418832000 {
  
    max-width: 100%!important;
}
.employee {
	display: grid;
	width: 70%;
	padding-left: 50px;
}
.employees {
	display: inline-block;
	width: 48%;
	border: 1px dashed rgba(204,204,204,0.4);
	padding: 20px;
	margin-bottom: 20px;
	margin-right: 2%;
	background: rgba(62, 177, 225, 0.08);
}
.employee_pro {  
    width: 16.5%;
    float: left;
   
}
#list_employee {
	box-shadow: 0 4px 16px 0 rgba(0,0,0,0.1);
	padding: 30px;
	margin: 15px 60px 30px;
	background: #fff;
	
}
.employee span {
	height: 34px;
}
.emp_occ strong {
	padding-right: 44px !important;
}
.employee strong {
	padding-right: 20px;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.3px;
}

.emp_actions {
    padding: 6px 0px 8px 0;
}
/*--------booking tab css---------------*/
.checkbox_other h5 {
    margin: 15px 0 15px 0;
}
#booking h3{
    margin: 10px 0px 0px 0;
}
#booking label {
  display: block;
  position: relative;
  padding-left: 46px;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 30%;
  border: 1px dashed rgba(204,204,204,0.4);
  font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

label.check_container {
    font-weight: unset;
}
/* Hide the browser's default checkbox */
.check_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ddd;
  border-radius: 100px;
}

/* On mouse-over, add a grey background color */
.check_container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check_container input:checked ~ .checkmark {
  background-color: #3eb1e1;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check_container .checkmark:after {
  left: 10px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
      border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


#\31 620245556 {
	padding: 0 !important;
}

.tab .active {
	background: #383b4e;
	color: #fff !important;
}

.add_category_wrap .button--aylen {
	float: right;
}

.tablinks {
	color: #ccc !important;
}
.tab .fa {
	padding-right: 5px;
}
.booking_inner_wrapper {
	box-shadow: 0px 4px 16px 0 rgba(0,0,0,0.1);
	padding: 30px 0px 80px 30px;
	border-radius: 3px;
}

.booking_wrapper {
	padding: 15px 60px 30px;
}
.emp_actions button {
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.6px;
}
.booking_wrapper h5 {
	font-size: 16px !important;
	letter-spacing: 0.5px;
	font-weight: 500 !important;
	font-family: roboto !important;
}

#employee h3, .booking_wrapper h3 {
	font-size: 16px !important;
	letter-spacing: 0.5px;
	margin: 10px auto;
	font-family: roboto !important;
}
#employee h3 {
	padding: 10px 0px 10px 30px;
}
.booking_wrapper h3 {
	padding: 10px 0px 10px 0px;
}

.add_category_wrap {
	width: 50%;
	float: left;
	text-align: center;
	
}
.title_wrapper {
	width: 50%;
	float: left;
}
.add_category_wrap .fa {
	font-size: 8px;
	border: 1px solid #fff;
	border-radius: 100px;
	height: 16px;
	padding: 3px 4px 3px 3px;
	width: 16px;
	position: absolute;
	margin-left: 5px;
}
.form-group {
	margin-bottom: 0 !important;
}
#working-time-table-id th {
	background: transparent;
	color: #000;
	vertical-align: middle;
	text-align: center;
	font-size: 13px;
	font-family: open sans;
	border: none;
}
#working-time-table-id td {
	vertical-align: middle;
	border-right: none !important;
	border-left: 0 !important;
	font-size: 14px;
	border: 1px dashed rgba(204,204,204,0.3);
	padding-top: 20px;
    padding-bottom: 20px;
}

#target_schedule_cal {
	box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
	padding: 30px;
}
.icheckbox_minimal {
	text-align: center;
}
#working-time-table-id input[type="text"] {
	border: none;
	background: #eee;
	border-radius: 0px;
	margin: 0px;
	box-shadow: none;
	width: 90px;
}
#working-time-table-id {
	border: 0;
}
#add_employee:hover {
	text-decoration: none !important;
	background: #000;
	transition: all 0.3s ease-out;
}
#list_category {
	margin-left: 60px;
	box-shadow: 0px 4px 16px 0 rgba(0,0,0,0.08);
	width: 89%;
	margin-right: 60px !important;
	padding: 30px;
}
#booking_time .col-md-12 {
	padding: 50px;
}
#working-time-table-id .input-group-addon.right-radius {
	border: 0px;
	border-radius: 0px;
}

/* Aylen */
.button.button--aylen {
	background: #333;
	color: #fff;
	overflow: hidden;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}
.button--aylen.button--inverted {
	background: none;
	color: #fff;
}
.button--aylen::before,
.button--aylen::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 100%;
	left: 0;
	z-index: -1;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--aylen::before {
	background: #5ac4f1;
}
.button--aylen::after {
	background: #3eb1e1;
}
.button--aylen:hover {
	color: #fff;
}
.button--aylen:hover::before,
.button--aylen:hover::after {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
.button--aylen:hover::after {
	-webkit-transition-delay: 0.175s;
	transition-delay: 0.175s;
}
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.button--aylen a {
	color: #7986cb;
	text-decoration: none;
	outline: none;
}
.button--aylen a:hover,
.button--aylen a:focus {
	color: #3f51b5;
}

.button--aylen{
	float: left;
	min-width: 110px;
	max-width: 110px;
	display: block;
	padding: 1em 2em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.button--aylen:focus {
	outline: none;
}
.button--aylen > span {
	vertical-align: middle;
}


/* Borders */
.button--border-thin {
	border: 1px solid;
}
#add_employee {
	min-width: 150px;
	max-width: 150px;
	padding: 12px 20px 12px 0;
	text-decoration: none;
	font-size: 14px;
    font-weight: 400;
    right: 30px;
}
.booking_inner_wrapper .check_container {
	background: rgba(62, 177, 225, 0.08);
	width: 47% !important;
	float: left;
	margin-right: 3%;
	height: 50px;
	padding: 15px;
}
#working-time-table-id tr:nth-child(2n), .table_title_wrap {
	background: rgba(62, 177, 225, 0.08) !important;
}
#working-time-table-id tr:nth-child(2n+1) {
	background: #f5f5f5;
}
.booking_inner_wrapper .checkmark {
	padding: 10px !important;
	top: 13px !important;
	left: 13px !important;
}
#booking_calnder {
	padding: 50px;
}
#calendar {
	box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.1);
	padding: 20px;
}
